# flyctl launch added from .gitignore
# Dependencias
**/node_modules

# Archivos de entorno y secretos (por si los usas en el futuro)
**/.env

# Logs de errores de Node
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Archivos basura del sistema operativo
**/.DS_Store
**/Thumbs.db
fly.toml
